.form__fieldset {
    background-color: white;
    border: none;
    margin: 2px;
    padding: 20px;
    font-weight: bold;
}

.form__label {
    font-size: 20px;
}

.form__input {
    width: 85%;
    padding: 10px;
    border: 2px solid #e2e0e0;
}

.form__input::placeholder {
    color: #969696;
}

@media (max-width: 912px) {

    .form__input {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .form__input {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .form__input {
        width: 100%;
    }
}

.form__button {
    background-color: rgb(39, 124, 124);
    color: white;
    padding: 11px;
    border: none;
    width: 100px;
    margin-left: 20px;
    transition: 0.5s;
    font-size: 15px;
}

.form__button:hover {
    transform: scale(1.15);
    background-color: rgb(49, 153, 153);
}

.form__button:active {
    background-color: rgb(58, 182, 182);
}

@media (max-width: 767px) {
    .form__button {
        width: 100%;
        margin-top: 10px;
        margin-left: 0px;
    }
}

@media (max-width: 992px) {
    .form__button {
        width: 100%;
        margin-top: 10px;
        margin-left: 0px;
    }
}

@media (max-width: 1200px) {
    .form__button {
        width: 100%;
        margin-top: 10px;
        margin-left: 0px;
    }
}