.flex__list {
    background-color: white;
    margin: 1.5px 2px 2px 2px;
    padding: 30px;
    list-style-type: none;
}

.flex__listItem {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-bottom: 1.5px solid #e2e0e0;
}

.js-done {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    height: 30px;
    width: 30px;
    border: none;
}

.js-done:hover {
    background-color: rgb(8, 160, 8);
}

.js-done:active {
    background-color: rgb(13, 186, 13);
}

.js-checkmarkIcon {
    height: 30px;
    width: 30px;
}

.js-content {
    flex-grow: 1;
    padding-left: 10px;
    font-size: 15px;
}

@media (max-width: 550px) {
    .js-content {
        word-wrap: break-word;
        overflow: hidden;
        width: 195px;
    }
}

@media (max-width: 767px) {
    .js-content {
        word-wrap: break-word;
        overflow: hidden;
        width: 195px;
    }
}

@media (max-width: 992px) {
    .js-content {
        word-wrap: break-word;
        overflow: hidden;
        width: 195px;
    }
}

@media (max-width: 1280px) {
    .js-content {
        word-wrap: break-word;
        overflow: hidden;
        width: 195px;
    }
}

.js-contentLineThrough {
    text-decoration: line-through;
}

.js-remove {
    height: 30px;
    width: 30px;
}