.js-toggleButtonEvents {
    border: none;
    background-color: white;
    color: teal;
    font-size: 15px;
}

.js-toggleButtonEvents:hover {
    color: rgb(7, 162, 162);
}

.js-toggleButtonEvents:active {
    color: rgb(15, 205, 205);
}

@media (max-width: 550px) {
    .js-toggleButtonEvents {
        padding: 8px;
        margin: 0 auto;
        display: block;
    }
}

@media (max-width: 767px) {
    .js-toggleButtonEvents {
        padding: 8px;
        margin: 0 auto;
        display: block;
    }
}

.js-markAllTasksAsDone:disabled {
    color: #ccc;
}